/* font */

@font-face {
    font-family: 'picopixel';
    src: url('../fonts/Picopixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprum';
    src: url('../fonts/Cuprum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* hax */
* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body{
      background: #fcfcfc;
      font-family: cuprum;
      line-height:12px;
      text-transform:uppercase;
      }

*{
   margin:0;
   padding:0
   }

ul{
    position:fixed;
    top:10px;
    left:15px;
    }

li{
    float:left;
    text-align:center;
    width:auto;
    display:block;
    padding:5px;
    background:#f00;
    color:#fff;
    }
li.mr2p {
        margin-right:2px;
}
li a, #editor a{
   color:#fff;
   text-decoration:none;
}
li a:hover{
         color:#FF6C7B;
         }

#editor{
          position:absolute;
          display:block;
          background:#fff;
          display:none;
          }
#editor button{
                float:left;
                clear:both;
                }
#editor a{
           padding:5px;
           background:#666;
           }

#ccc{
      position:absolute;
      display:block;
      height:auto;
      background:#fff;
      border:1px solid #f1f1f1;
      }